<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spelldisaster"
    android:versionCode="1"
    android:versionName="0.01" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.spelldisaster.SpellDisasterApplication"
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.spelldisaster.loading.LogoEhrid"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spelldisaster.loading.LogoUnity" />
        <activity android:name="com.example.spelldisaster.activities.MainActivity" />
        <activity
            android:name="com.example.spelldisaster.interfaces.activities.InterfaceMenu"
            android:theme="@style/transparentBackground" />
        <activity
            android:name="com.example.spelldisaster.interfaces.activities.InterfaceSettings"
            android:theme="@style/transparentBackground" />
        <activity
            android:name="com.example.spelldisaster.interfaces.activities.InterfaceDiary"
            android:theme="@style/transparentBackground" />
        <activity
            android:name="com.example.spelldisaster.interfaces.activities.InterfaceInventory"
            android:theme="@style/transparentBackground" />
    </application>

</manifest>